{% extends "base.html" %}
{%block content%}
<div class = 'çontainer mt-3'>

    <h2>Список завдань</h2>
    <a href="" class="btn btn-primary mt-3">Додати завдання</a>
    <ul class="list-group">

        {% for task in Tasks %}
        <li class="list-group-item">
            <a href="{% url 'task-create'  %}" >{{ task.title }}</a>
            <span class="stat" > {{ task.status }}</span>
            <span class="prior">; {{ task.priority }}</span>

        </li>
        {% empty %}
        <li class="list-group-item">
            Завдань не знайденно
        </li>
        {% endfor %}
    </ul>



</div>


{% endblock %}